greeting:
  message: hello
  name: quarkus

server:
  host: localhost
  port: 8080
  log:
    enabled: true
    suffix: .log
    rotate: false

dev:
  quarkus:
    mongodb:
      connection-string: mongodb://localhost:27017

quarkus:
  mongodb:
    devservices:
      enabled: true

quarkus:
  datasource:
    db-kind: h2
    jdbc:
      url: jdbc:h2:mem:testdb
      max-size: 8
  hibernate-orm:
    dialect: org.hibernate.dialect.H2Dialect
    database:
      generation: drop-and-create
    statistics: true
    metrics:
      enabled: true
quarkus:
 native:
  resources:
    includes: publicKey.pem

# Those are the default values and are implicitly assumed
quarkus:
  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: secret

quarkus:
  rest-client:
    "org.acme.rest.client.ExtensionsService":
      url: https://stage.code.quarkus.io/api #
    "org.acme.rest.client.ExtensionsService":
      scope: javax.inject.Singleton #

mp:
  jwt:
    verify:
      publickey:
        location: publicKey.pem
      issuer: https://example.com/issuer

dev:
  quarkus:
    http:
      port: 8081

# Configure the incoming `quote-requests` Kafka topic
mp:
  messaging:
    incoming:
      requests:
        topic: quote-requests
        auto:
          offset:
            reset: earliest
